<ion-app>
    <ion-menu side="start">
        <ion-header>
            <ion-toolbar>
                <ion-title>ScareBnB</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle>
                    <ion-item lines="none" routerLink="/places/discover">
                        <ion-icon color="primary" name="business-outline" slot="start"></ion-icon>
                        <ion-label>Discover</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/bookings">
                        <ion-icon color="primary" name="checkbox-outline" slot="start"></ion-icon>
                        <ion-label>Your Bookings</ion-label>
                    </ion-item>
                    <ion-item lines="none" (click)="onSignOutClick()" button>
                        <ion-icon color="primary" name="exit-outline" slot="start"></ion-icon>
                        <ion-label>Sign out</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
</ion-app>
